/*============================*/
/* Importation de GoogleFonts */
/*============================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: black;
  --gradient-black-bg: linear-gradient(0deg, #000000 0%, #161616 51%, #272727 100%);
  --gradient-black-bg2: black;
  --gradient-color-bg:linear-gradient(180deg, #f4d644 0%, #ffdb26 51%, #ffd500 100%);
  --gradient-color-icon:linear-gradient(180deg, #f4d644 0%, #ffdb26 51%, #000000 100%);
  --main-color: #f4d644;
  --font-color: #99a0a8;
  --hover-box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color);
  overflow-x: hidden;
}


/*============================*/
/* CSS for header */
/*============================*/

header {
  padding:  15px 8%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gradient-black-bg);
  z-index: 100;
  transition: .3s;
}

header .logo {
  font-size: 1.7em;
  font-weight: 700;
}

span {
  background: var(--gradient-color-bg);
  -webkit-background-clip: text;
  color: transparent;
}

a {
  text-decoration: none;
  color: white;
}

ul.navList {
  display: flex;
}

.navList li {
  margin: 0 1rem;
}

.navList li a {
  display: inline-flex;
  font-weight: 600;
}

.navList li a:hover,.navList li a.active {
  background: var(--gradient-color-bg);
  -webkit-background-clip: text;
  color: transparent;
}

.right-header {
  display: flex;
  justify-content: end;
  align-items: center;
  grid-gap: .8rem;
}


/*============================*/
/* CSS Menu icon */
/*============================*/

.menu-icon {
  position: relative;
  display: none; /* display: block; Pour voire le menu Hamburger menu */
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-icon .bar,
.menu-icon::after,
.menu-icon::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: white;
  margin: 5px 0;
  transition: .4s;
}

.menu-icon.active::before {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-icon.active::after {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu-icon.active .bar {
  opacity: 0;
}


/*============================*/
/* CSS for Home Page */
/*============================*/

section {
  padding: 90px 8%;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 4em;
  background: var(--gradient-black-bg2);
}

.hero-info {
  margin-top: 3rem;
}

.hero-info h3 {
  color: var(--font-color);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.hero-info h1 {
  font-size: 3.5rem;
  color: white;
}

.text-animate {
  width: 22.8rem;
  position: relative;
}

.text-animate h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: transparent;
  -webkit-text-stroke: 0.1vw black;
  background: var(--gradient-color-bg);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  transition: .6s;
  letter-spacing: 2px;
  animation: moveText 3s linear infinite;
  animation-delay: 2s;
}

.text-animate h2::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  width: 0;
  height: 70%;
  border-right: 2px solid var(--main-color);
  animation: moveCursorText 3s linear infinite;
  animation-delay: 2s;
}

.hero-info p {
  font-size: .9rem;
  color: var(--font-color);
  line-height: 1.5rem;
}

.about-contenth3 {
  color: white;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.btn-box .btn {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.btn-box .d-CV {
  background: var(--gradient-black-bg2);
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.3)0px 1px 2px 0,rgba(255, 255, 255, 0.15)0px 2px 6px 2px;
  transition: all .3s ease;              
}

.btn{
  background: var(--gradient-color-bg);
  color: black;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 600;
  transition: all .3s ease;
}

.btn:hover,.btn-box .d-CV:hover{
  box-shadow: var(--hover-box-shadow);
}


/*============================*/
/* CSS for Social Media */
/*============================*/

.social-media {
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 45px;
}

.social-media a {
  width: 42px;
  height: 42px;
  font-size: 1.5rem;
  color: var(--main-color);
  background: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  border-radius: 50%;
  z-index: 1;
}

.social-media a:hover {
  background: var(--gradient-color-bg);
  color: black;
}

.bg-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-icon span {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--gradient-color-icon);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate 1s linear infinite;
}

.img-hero {
  position: relative;
  animation: floatImage 4s ease-in-out infinite;
  animation-delay: 3s;
}

.img-hero img {
  position: relative;
  width: 400px;
  height: auto;
  border-radius: 100px;
  z-index: 10;
}


/*============================*/
/* CSS for About page */
/*============================*/

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.about .about-img {
  position: relative;
  margin-right: 100px;
}

.about .about-img .aboutHero {
  width: 26vw;
  height: auto;
  border-radius: 100px;
}

.about-content {
  padding: 3rem 0;
}

.about-content h2 {
  color: var(--main-color);
}

.about-content h3 {
  font-size: 2.1rem;
  line-height: 3rem;
  margin: .5rem 0;
}

.about-content p {
  color: var(--font-color);
}

.text-box p {
  font-size: 1.1rem;
  font-weight: 500;
}

.about-btn {
  margin: .8rem 0;
}

.about-btn button,.cvContent a{
  background: var(--gradient-black-bg2);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.3)0px 1px 2px 0,rgba(255, 255, 255, 0.15)0px 2px 6px 2px;
  margin-right: .5rem;
  cursor: pointer;
  transition: all .3s ease;
}

.about-btn button.active {
  background: var(--gradient-color-bg);
  color: black;   
}

.text-box {
  margin: .8rem 0;
}

.content-btn > .content:not(:first-child) {
  display: none;
}

.about-btn button:hover {
  box-shadow: var(--hover-box-shadow);
}

.cvContent {
  margin-top: 1.5rem;
}


/*============================*/
/* CSS for Portfolio Page */
/*============================*/

.filter-button {
  text-align: center;
  padding: .5rem;
  margin-bottom: 2rem;
}

.filter-button button {
  background: var(--gradient-black-bg2);
  padding: 12px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.3)0px 1px 2px 0,rgba(255, 255, 255, 0.15)0px 2px 6px 2px;
  margin-right: .5rem;
  cursor: pointer;
  transition: all .3s ease;
}

.filter-button button:hover,button.mixitup-control-active {
  background: var(--gradient-color-bg);
  color: black;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(525px, 1fr));
  gap: 1rem; 
}

.portfolio-img img {
  display: block;
  width: 100%;
  height: 180px;
  transition: .3s;
}

.portfolio-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  box-shadow: rgba(255, 255, 255, 0.18)0px 2px 4px;
  background: var(--gradient-black-bg2);
  border-radius: 10px;
  transition: all .3s ease;
}

.portfolio-content {
  width: 100%;
  padding-left: .5rem;
  padding-bottom: .5rem;
  color: white;
}

.portfolio-img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-content a.readMore {
  padding: 8px 12px;
  font-size: .8rem;
  color: black;
  background-color: var(--main-color);
}

.portfolio-content p {
  font-size: .9rem;
  color: var(--font-color);
  margin: .5rem 0 1rem 0;
}

.readMore{
  background: var(--gradient-black-bg2);
  box-shadow: rgba(255, 255, 255, 0.1)0px 1px 3px 0,
                rgba(255, 255, 255, 0.06)0px 1px 2px 0px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  margin-right: .8rem;
  cursor: pointer;              
}


/*============================*/
/* CSS for Contact Page */
/*============================*/
/*
.contactSkills{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contact-info,.skills{
  width: 100%;
  background: var(--gradient-black-bg2);
  box-shadow: rgba(255, 255, 255, 0.18)0px 2px 4px;
  padding: 1rem;
  border-radius: 10px;
}


.contact-info input,
.contact-info form textarea{
  width: 100%;
}

.contact-info form input,
.contact-info form textarea{
  padding: .8rem;
  border: 2px solid white;
  margin: .5rem 0;
  background: white;
  border-radius: 5px;
  outline: none;
  transition: .3s;
}

.contact-info form .input-box{
  display: flex;
  justify-content: space-between;
}

.input-box input{
  width: 49%;
}

form input:focus,form textarea:focus{
  filter: brightness(100%);
  border: 3px solid var(--main-color);
}

form textarea{
  resize: none;
}

form .btn{
  padding: 15px 20px;
  cursor: pointer;
  border: none;
}
*/

/*============================*/
/* CSS for Skills Page */
/*============================*/

.skillBox{
  padding: 0 1rem 1rem;
}

.skillBox .main-text{
  margin-bottom: 1rem;
}

.skill-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px , auto));
  justify-content: center;
  grid-gap: 2.5rem;
}

.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outer-circle{
  width: 170px;
  height: 170px;
  position: relative;
  margin-bottom: 1rem;
  padding: 20px;
  border-radius: 50%;
  box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
  rgba(255, 255, 255, 0.3)0px 3px 7px -3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: rgba(204,219,232)3px 3px 6px 0px inset,
  rgba(255,255,255,0.5)-3px -3px 6px 1px inset;
  color: white;
}

.outer-circle svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.outer-circle svg circle{
  fill: none;
  stroke-width: 15px;
  stroke: url(#GradientColor);
  stroke-linecap: round;
  stroke-dasharray: 465;
  stroke-dashoffset: 464; 
}

.outer-circle h2.counter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  font-size: .9rem;
  font-weight: 400;
}

h2.counter span{
  font-size: 1.7rem;
}

.sk-title{
  font-size: 1rem;
  font-weight: 600;
  color: white;
}


/*============================*/
/* CSS for Footer */
/*============================*/

footer{
  text-align: center;
  margin: 0 8%;
  padding: 2rem 0;
  border-top: 2px solid white;
  color: white;
  height: 100px;
}

#progress{
  position: fixed;
  /* background: #194eb9; */
  z-index: 1000;
  bottom: 60px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  box-shadow: rgba(50,50,93,0.25)0px 50px 100px -20px,
  rgba(0,0,0,0.3)0px 30px 60px -30px,
  rgba(10,37,64,0.35)0px -2px 6px 0px inset;
}

#progress-value{
  display: grid;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background: var(--gradient-color-bg);
  border-radius: 50%;
  color: white;
  place-items: center;
  font-size: 25px;
}


/*============================*/
/* CSS for Title (rubrique) */
/*============================*/

.main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.main-text .heading {
  color: var(--main-color);
  font-size: 25px;
}

.main-text span {
  color: var(--font-color);
  font-weight: 200;
  text-transform: uppercase;
  font-size: 20px;
}

.proposal{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--gradient-black-bg2);
  box-shadow: rgba(0,0,0,0.1)0px 1px 3px 0,
  rgba(0,0,0,0.06)0px 1px 2px 0px;
  margin-top: 8rem;
  border-radius: 10px;
  padding: 0rem 2rem;
  z-index: 1;
}


/*============================*/
/* Break Points */
/*============================*/

@media(max-width:1200px){
  html{
    font-size: 95%;
  }
}

@media(max-width:991px){
  header,section,footer{
    padding-left: 3%;
    padding-right: 3%;
  }
  .home,.portfolio-box{
    flex-direction: column-reverse;
  }
  .about,.contactSkills{
    flex-direction: column;
  }
  .about .about-img .aboutHero{
    width: 100%;
  }
  .proposal img{
    width: 52vw;
  }
  .portfolio-img img{
    width: 100%;
    height: 100%;
  }
  .portfolio-gallery{
    grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
  }
  .img-hero{
    margin-top: 3rem;
  }
}

@media(max-width:991px) {
  header,section,footer {
    padding-left: 3%;
    padding-right: 3%;
  }
  .home,.portfolio-box {
    flex-direction: column-reverse;
  }
  .about,.contactSkills {
    flex-direction: column;
  }
  .about .about-img .aboutHero {
    width: 100%;
  }
  .proposal img {
    width: 52vw;
  }
  .portfolio-img img {
    width: 100%;
    height: 100%;
  }
  .portfolio-gallery {
    grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
  }
  .img-hero {
    margin-top: 3rem;
  }
}

@media(max-width:768px){
  .menu-icon {
    display: block;
  }
  ul.navList{
    position: absolute;
    top: -1000px;
    transition: all .3s ease;
    width: 100%;
    text-align: center;
    display: block;
    background: var(--gradient-white-bg);
    left: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.7);
  }
  ul.navList a  {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .navList.active { 
    top: 100%;
  }
  .overlay  {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 8;
    opacity: 0;
    transform: .3s;
    pointer-events: none;
  }
  body.open .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  .btn {
    padding: 10px;
  }
  .home {
    grid-gap: 0;
  }
  .filter-button button {
    padding: 10px;
    font-size: .8rem;
  }
}

@media(max-width:530px){
  html {
    font-size: 80%;
  }
  section {
    padding: 50px 3%;
  }
  .contact-info form .input-box {
    display: block;
  }
  .input-box input {
    width: 100%;
  }
  .rotate-text {
    display: none;
  }
  .img-hero img {
    width: 100%;
  }
  .text-animate {
    width: 23.8rem;
  }
  .btn-box {
    width: 266px;
    margin-bottom: 3rem;
  }
  .about-btn button {
    padding: 10px 15px;
  }
  .filter-button {
    display: grid;
    grid-gap: 1rem;
  }
  .filter-button button {
    width: 100%;
    padding: 13px;
  }
}

/*==================== @keyframes====================*/

@keyframes moveText {
  0%,10%,100% {
    background-position: -24rem 0;
  }
  65%,85% {
    background-position: 0rem 0;
  } 
}

@keyframes moveCursorText  {
  0%,10%,100% {
    width: 0;
  }
  65%,78%,85% {
    width: 100%;
    opacity: 1;
  }
  78%,85% {
    opacity: 0;
  } 
}

@keyframes animate{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

@keyframes progress{
  to{
    stroke-dashoffset: var(--target);
  }
}